.login-details {
  margin-left: auto;
  display: flex;
  align-items: baseline;
}

.greeting {
  padding: 0 20px;
}

.user-pic {
  max-width: 50px;
  border-radius: 50%;
  position: relative;
}

.user-photo {
  display: flex;
  padding: 0 20px;
  position: relative;
}

.user-photo:before {
  content: '';
  width: 58px;
  height: 58px;
  background-color: rgb(148, 6, 173);
  position: absolute;
  border-radius: 50%;
  top: -4px;
  left: 16px;
}