.StartPageContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: -webkit-gradient( linear, left top, left bottom, from(rgba(0, 0, 0, 1)), to(rgba(0, 0, 0, 0.8)) ) no-repeat center/cover,
              url('../../images/bg_photographer_1920x1200.jpg') no-repeat center/cover;
  background: -o-linear-gradient( rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.8) ) no-repeat center/cover,
              url('../../images/bg_photographer_1920x1200.jpg') no-repeat center/cover;
  background: linear-gradient( rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.8) ) no-repeat center/cover,
              url('../../images/bg_photographer_1920x1200.jpg') no-repeat center/cover;
  height: 100vh;
}