.image-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 20px;
}

.image-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px 10px 10px 10px;
  margin: 10px;
  max-width: 330px;
  border: 2px solid #bebebe;
}

.card-title {
  padding: 10px;
  border-bottom: 1px solid #bebebe;
  white-space: pre-wrap;
}

.card-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 20px;
  position: relative;
}

.like-label {
  position: relative;
}

.like-label input {
  visibility: hidden;
  
}

.like-label input:checked + .heart {
  color: rgb(148, 6, 173);
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.like-label .heart {
  position: absolute;
  bottom: 6px;
  right: -25px;
  font-size: 20px;
  cursor: pointer;
}

.like-counter {
  margin-left: 10px;
}

.more-btn {
  width: 200px;
  margin: 0 auto;
}