.navbar {
  background: -webkit-gradient(linear, left top, right top, from(rgb(28, 27, 27)), to(rgb(26, 23, 23)));
  background: -o-linear-gradient(left, rgb(28, 27, 27) 0%, rgb(26, 23, 23) 100%);
  background: linear-gradient(90deg, rgb(28, 27, 27) 0%, rgb(26, 23, 23) 100%);
  height: 80px;
  width: 100vw;
  padding: 0 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  font-size: 18px;
  -webkit-box-shadow: 0px 0px 25px 1px #000;
          box-shadow: 0px 0px 25px 1px #000;
  z-index: 10;
}

.navbar-logo {
  color: #fff;
  -ms-grid-column-align: start;
      justify-self: start;
  cursor: pointer;
  text-decoration: none;
  font-size: 26px;
}

.nav-menu {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto);
  grid-template-columns: repeat(5, auto);
  list-style: none;
  text-align: center;
  width: 60vw;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  margin-right: 32px;
}

.nav-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
  padding: 0 8px;
  border-right: 2px solid #fff;
}

.nav-item:last-child {
  border-right: 0;
}

.nav-links {
  color: white;
  text-decoration: none;
  padding: 8px 16px;
}

.nav-links:hover {
  background-color: rgb(148, 6, 173);
  border-radius: 4px;
  -webkit-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.nav-button {
  padding: 5px 10px;
}

.fa-bars {
  color: #fff;
  margin-left: 5px;
}

.nav-links-mobile {
  display: none;
}

.menu-icon {
  display: none;
}

.login-details {
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.greeting {
  padding: 0 20px;
}

.user-pic {
  max-width: 50px;
  border-radius: 50%;
  position: relative;
}

.user-photo {
  margin: 0px 10px;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
  position: relative;
}

.user-photo:before {
  content: '';
  width: 58px;
  height: 58px;
  background-color: rgb(148, 6, 173);
  position: absolute;
  border-radius: 50%;
  top: -4px;
  left: -4px;
}

@media screen and (max-width: 960px) {
  .NavbarItems {
    position: relative;
  }

  .nav-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    height: 90vh;
    position: absolute;
    top: 80px;
    left: -100%;
    opacity: 1;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }

  .nav-menu.active {
    background: #242222;
    left: 0;
    opacity: 1;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    z-index: 1;
  }

  .nav-item {
    margin: 16px 0;
    border-right: 0;
  }
  .nav-links {
    text-align: center;
    padding: 20px;
    width: 100%;
    display: block;
  }

  .nav-links:hover {
    background-color: rgb(148, 6, 173);
    border-radius: 0;
  }

  .user-details {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  
  .user-photo {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }

  .navbar-logo {
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transform: translate(25%, 50%);
        -ms-transform: translate(25%, 50%);
            transform: translate(25%, 50%);
  }

  .menu-icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    -webkit-transform: translate(-80%, 80%);
        -ms-transform: translate(-80%, 80%);
            transform: translate(-80%, 80%);
    font-size: 32px;
    cursor: pointer;
  }

  .fa-times {
    color: #fff;
    font-size: 32px;
    margin-right: 5px;
  }

  .nav-links-mobile {
    display: block;
    text-align: center;
    padding: 24px;
    margin: 32px auto;
    border-radius: 4px;
    width: 80%;
    background: #1888ff;
    text-decoration: none;
    color: #fff;
    font-size: 24px;
  }

  .nav-links-mobile:hover {
    background: #fff;
    color: #1888ff;
    -webkit-transition: 250ms;
    -o-transition: 250ms;
    transition: 250ms;
  }

  .nav-button {
    margin-top: 20px;
  } 
}